
<%= javascript_include_tag 'jquery-1.4.min.js', :plugin => 'redmine_contracted_hours' %>
<%= javascript_include_tag 'jquery.jqcanvas-modified.js', :plugin => 'redmine_contracted_hours' %>
<%= javascript_include_tag 'jquery.speedometer.js.erb', :plugin => 'redmine_contracted_hours' %>
<%= javascript_include_tag 'excanvas-modified.js', :plugin => 'redmine_contracted_hours' %>
<%@contracted_hour_available= @contracted_hour[0]%>
<%= render :partial => 'contracted_hours/available_hours', :locals => {:contracted_hour_available =>@contracted_hour_available, :contracted_hour_related => contracted_hour_related} %>
<h3><center><%= l(:label_percentage_available_hours) %></center> </h3>
<% @related_available_hours = 0%>
<%if contracted_hour_related.any?%>
  <% contracted_hour_related.each do |contracted_hour|%>
    <% if contracted_hour.related_id ==  @contracted_hour_available.id%>
      <% @related_available_hours = @related_available_hours + contracted_hour.related_hours %>
    <% end%>
  <% end%>
<% end%>
<center><div id="test"><%=@contracted_hour[0].porcentaje_horas(@contracted_hour[0].hours, (@contracted_hour[0].available_hours - @related_available_hours))%> </div></center>
<%= link_to(l(:label_details), contracted_hour_time_entries_path(:contracted_hour => @contracted_hour[0], :project => @project)) %> |

<%@contracted_hour_available= @contracted_hour[1]%>
<% @related_available_hours = 0%>
<%if contracted_hour_related.any?%>
  <% contracted_hour_related.each do |contracted_hour|%>
    <% if contracted_hour.related_id ==  @contracted_hour_available.id%>
      <% @related_available_hours = @related_available_hours + contracted_hour.related_hours %>
    <% end%>
  <% end%>
<% end%>
<%= render :partial => 'contracted_hours/available_hours', :locals => {:contracted_hour_available => @contracted_hour_available, :contracted_hour_related => contracted_hour_related} %>
<h3><center><%= l(:label_percentage_available_hours) %></center> </h3>
<center><div id="test1"><%=@contracted_hour[1].porcentaje_horas(@contracted_hour[1].hours, (@contracted_hour[1].available_hours - @related_available_hours))%></div></center>

<%= link_to(l(:label_details), contracted_hour_time_entries_path(:contracted_hour => @contracted_hour[1], :project => @project)) %> |

<%= javascript_tag do %>
  $(function(){
  $('#test').speedometer();
  $('#test1').speedometer(); 
  });
<% end %>