<% custom_field_values = @issue.editable_custom_field_values %>
<div class="splitcontent">
  <div class="splitcontentleft">
    <% i = 0 %>
    <% allowed_values = [] %>
    <% custom_field_values.each do |value| %>
      <% if @issue.new_record? && role_allowed_by_custom_field?(CustomFieldsInsertRoles, value) %>
        <% allowed_values << value %>
      <% elsif !@issue.new_record? %>
        <% if role_allowed_by_custom_field?(CustomFieldsUpdateRoles, value) %>
          <% if value.custom_field.id == 89 && show_value(value) == 'Sí' %>
            <% allowed_values << value %>
          <% else %>
            <% allowed_values << value %>
          <% end %>
        <% else %>
          <% allowed_values << value %>
        <% end %>
      <% end %>
    <% end -%>
    <% split_on = (allowed_values.size / 2.0).ceil - 1 %>
    <% if @issue.new_record? %>
      <% allowed_values.each do |value| %>
        <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
        <% if i == split_on -%>
        </div><div class="splitcontentright">
        <% end -%>
        <% i += 1 -%>
      <% end -%>
    <% elsif !@issue.new_record? %>
      <% allowed_values.each do |value| %>
        <% if role_allowed_by_custom_field?(CustomFieldsUpdateRoles, value) %>
          <!--Inicio de validacion de unica vez-->
          <%if value.custom_field.ingreso?%>
            <!--Valida que si no tiene valor, se presente el campo para que sea ingresable (Validacion sin valor)-->
            <%if show_value(value).nil?%>
              <% if value.custom_field.id == 89 && show_value(value) == 'Sí' %>
                <p><%= custom_field_tag_with_label :issue, value %></p>
              <%elsif value.custom_field.id == 82%>
                <%if @issue.status_id.to_i==15 or @issue.status_id.to_i==14 or @issue.status_id.to_i==16 or @issue.status_id.to_i==54 or @issue.status_id.to_i==19 or @issue.status_id.to_i==23 or @issue.status_id.to_i==44 or @issue.status_id.to_i==47%>
                  <p><%= custom_field_tag_with_label :issue, value %></p>
                <%else%>
                  <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
                <%end%>
              <%elsif value.custom_field.id == 112%>
                <%if @issue.status_id.to_i==5 or @issue.status_id.to_i==16 or @issue.status_id.to_i==57 or @issue.status_id.to_i==24 or @issue.status_id.to_i==27 or @issue.status_id.to_i==44 or @issue.status_id.to_i==17%>
                  <p><%= custom_field_tag_with_label :issue, value %></p>
                <%else%>
                  <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
                <%end%>
              <% else %>
                <p><%= custom_field_tag_with_label :issue, value %></p>
              <% end %>
            <%end%>
            <!--Fin de validacion sin valor -->
            <!--Valida que si tiene valor, no se presente el campo (Validacion con valor)-->
            <%if !show_value(value).nil?%>
              <%if User.current.allowed_to?(:edit_unica_vez, @project)%>
                <p><%= custom_field_tag_with_label :issue, value %></p>
              <%else%>
                <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
              <%end%>
            <%end%>
            <!--Fin de validacion con valor -->
          <% else %>
            <% if value.custom_field.id == 89 && show_value(value) == 'Sí' %>
              <p><%= custom_field_tag_with_label :issue, value %></p>
            <%elsif value.custom_field.id == 82%>
              <%if @issue.status_id.to_i==15 or @issue.status_id.to_i==14 or @issue.status_id.to_i==16 or @issue.status_id.to_i==54 or @issue.status_id.to_i==19 or @issue.status_id.to_i==23 or @issue.status_id.to_i==44 or @issue.status_id.to_i==47%>
                <p><%= custom_field_tag_with_label :issue, value %></p>
              <%else%>
                <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
              <%end%>
            <%elsif value.custom_field.id == 112%>
              <%if @issue.status_id.to_i==5 or @issue.status_id.to_i==16 or @issue.status_id.to_i==57 or @issue.status_id.to_i==24 or @issue.status_id.to_i==27 or @issue.status_id.to_i==44 or @issue.status_id.to_i==17%>
                <p><%= custom_field_tag_with_label :issue, value %></p>
              <%else%>
                <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
              <%end%>
            <% else %>
              <p><%= custom_field_tag_with_label :issue, value %></p>
            <% end %>
          <% end %>
          <!--Fin de validacion de unica vez-->
        <% else %>
          <p><%= custom_field_tag_disabled_with_label :issue, value %> </p>
        <% end %>
        <% if i == split_on -%>
        </div><div class="splitcontentright">
        <% end -%>
        <% i += 1 -%>
      <% end -%>
    <% end %>
  </div>
</div>