<%= javascript_include_tag 'validator.js', :plugin => 'polls' %>
<%= error_messages_for 'query' %>

<h3>Encuesta</h3>
<p>Su retroalimentación es importante para mejorar nuestro servicio.  
  Agradecemos dejarnos conocer su opinión respecto a la atención brindada en este soporte:</p>

<% if @project_id != nil %>
  <% project_identifier = @project_id %>
<% else %>
  <% project = Project.find @issue.project_id %>
  <% project_identifier = project.identifier %>
<% end %>
<% @polls = Poll.find_all_by_project_id project_identifier %>
<% if @remote == nil %>
  <% @remote = true %>
  <% puts "@remote = #{@remote}" %>
<% end %>
<%= form_tag({:controller => 'polls', :action => 'create'}, :name=>"form", :class=>"validar_form", :remote => @remote) do %>   
  <%= hidden_field :issue_id, @issue.id  %>
  <%= hidden_field_tag 'polls_count', @polls.count %>
  <%= hidden_field_tag 'remote', @remote %>
  <%= hidden_field_tag 'project_id', @project_id %>

  <% @polls.each do |poll| %>

    <% if poll.open == true %>
      <p><%= poll.question%>(Longitud maxima 300 caracteres)</p>
      <p><%= text_area "poll_answers[#{poll.id}]", :answer_open, :cols => 60, :rows => 2, :maxlength=>300 %></p>
    <% else %>
      <p><%= poll.question %></p>
      <% poll.answers.each do |answer| %>
        <p><%= radio_button_tag "poll_answers[#{poll.id}]", answer.id %><%=answer.name %></p>
      <% end %>
    <% end %>

  <% end %>

  <%= submit_tag l(:button_submit)%>
<% end %>